config/Definitions.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="Messaging"
           xmlns="Messaging"
           elementFormDefault="qualified">
    <xs:simpleType name="CharacterType">
        <xs:annotation>
            <xs:documentation>Enumeration of the signed integer types</xs:documentation>
        </xs:annotation>
        
        <xs:restriction base="xs:string">            
            <xs:enumeration value="8">
                <xs:annotation>
                    <xs:documentation>Signed 8-bit integer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>Signed 16-bit integer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            
            <xs:enumeration value="32">
                <xs:annotation>
                    <xs:documentation>Signed 32-bit integer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SignedIntType">
        <xs:annotation>
            <xs:documentation>Enumeration of the signed integer types</xs:documentation>
        </xs:annotation>
        
        <xs:restriction base="xs:string">            
            <xs:enumeration value="signed_int_8">
                <xs:annotation>
                    <xs:documentation>Signed 8-bit integer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            
            <xs:enumeration value="signed_int_16">
                <xs:annotation>
                    <xs:documentation>Signed 16-bit integer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            
            <xs:enumeration value="signed_int_32">
                <xs:annotation>
                    <xs:documentation>Signed 32-bit integer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            
            <xs:enumeration value="signed_int_64">
                <xs:annotation>
                    <xs:documentation>Signed 64-bit integer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="UnsignedIntType">
        <xs:annotation>
            <xs:documentation>Enumeration of the unsigned integer types</xs:documentation>
        </xs:annotation>
        
        <xs:restriction base="xs:string">
            <xs:enumeration value="unsigned_int_8">
                <xs:annotation>
                    <xs:documentation>Unsigned 8-bit integer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            
            <xs:enumeration value="unsigned_int_16">
                <xs:annotation>
                    <xs:documentation>Unsigned 16-bit integer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            
            <xs:enumeration value="unsigned_int_32">
                <xs:annotation>
                    <xs:documentation>Unsigned 32-bit integer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            
            <xs:enumeration value="unsigned_int_64">
                <xs:annotation>
                    <xs:documentation>Unsigned 64-bit integer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="IntType">
        <xs:annotation>
            <xs:documentation>All types of signed or unsigned integers</xs:documentation>
        </xs:annotation>
        
        <xs:union memberTypes="UnsignedIntType SignedIntType"/>
    </xs:simpleType>
    
    <xs:simpleType name="FloatingPointType">
        <xs:annotation>
            <xs:documentation>Enumeration of the floating point types (float, double)</xs:documentation>
        </xs:annotation>
        
        <xs:restriction base="xs:string">
            <xs:enumeration value="float_32">
                <xs:annotation>
                    <xs:documentation>32-bit floating point number</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            
            <xs:enumeration value="float_64">                
                <xs:annotation>                    
                    <xs:documentation>64-bit floating point number</xs:documentation>                
                </xs:annotation>            
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PrimitiveType">
        <xs:annotation>
            <xs:documentation>All types (Union of unsigned int, signed int and floating point types)</xs:documentation>
        </xs:annotation>
        
        <xs:union memberTypes="IntType FloatingPointType"/>
    </xs:simpleType>
    
    <xs:complexType name="EnumerationMember">
        <xs:annotation>
            <xs:documentation>Definition of a member of an enumeration</xs:documentation>
        </xs:annotation>
        
        <xs:all>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this member. Will be added to generated source files></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>        
            
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The name of this member</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        
        <xs:attribute name="value" type="xs:unsignedLong" use="optional">
            <xs:annotation>
                <xs:documentation>The (optional) value of this member</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="Enumeration">
        <xs:annotation>
            <xs:documentation>Definition of an enumeration</xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this enumeration Will be added to generated source files></xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="member" type="EnumerationMember" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>     
            
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The name of this enumeration</xs:documentation>
            </xs:annotation>
        </xs:attribute>
            
        <xs:attribute name="baseType" type="IntType" use="required">
            <xs:annotation>
                <xs:documentation>The base type of this enum (Must be one of the intTypes)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="NamedEnumeration">
        <xs:annotation>
            <xs:documentation>An enumeration which is part of a structure</xs:documentation>
        </xs:annotation>   
        
        <xs:all>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this enumeration. Will be added to generated source files></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all> 
            
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The name of this enumeration</xs:documentation>
            </xs:annotation>
        </xs:attribute>
            
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The type of this enum (Must be a defined enumeration)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
            
        <xs:attribute name="optional" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>Is this an optional thing</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="NamedStructure">
        <xs:annotation>
            <xs:documentation>A structure which is part of another structure</xs:documentation>
        </xs:annotation>   
        
        <xs:all>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this structure. Will be added to generated source files></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all> 
            
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The name of this structure</xs:documentation>
            </xs:annotation>
        </xs:attribute>
            
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The type of this structure (Must be a defined structure)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
            
        <xs:attribute name="optional" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>Is this an optional thing</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:group name="PrimitiveTypes">
        <xs:choice>                
            <xs:element name="primitive" type="PrimitiveType">
                <xs:annotation>
                    <xs:documentation>Primitive element which is the type of this array</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="enumeration" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Enumeration element which is the type of this array</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:group>
    
    <xs:group name="SimpleTypes">
        <xs:choice>                
            <xs:group ref="PrimitiveTypes" />

            <xs:element name="structure" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Enumeration element which is the type of this array</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:group>
    
    <xs:group name="NestedTypes">
        <xs:choice>
            <xs:element name="sequence" type="Sequence">
                <xs:annotation>
                    <xs:documentation>Enumeration element which is the type of this array</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="array" type="Array">
                <xs:annotation>
                    <xs:documentation>Enumeration element which is the type of this array</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="map" type="Map">
                <xs:annotation>
                    <xs:documentation>Enumeration element which is the type of this array</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:group>
    
    <xs:group name="AllTypes">
        <xs:choice>               
            <xs:group ref="SimpleTypes" />              
            <xs:group ref="NestedTypes" />
        </xs:choice>
    </xs:group>

    <xs:complexType name="MapKeyType">
        <xs:annotation>
            <xs:documentation>Definition of an element in a structure</xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this element. Will be added to generated source files</xs:documentation>
                </xs:annotation>
            </xs:element>
        
            <xs:choice minOccurs="1" maxOccurs="1">                
                <xs:group ref="PrimitiveTypes" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MapValueType">
        <xs:annotation>
            <xs:documentation>Definition of an element in a structure</xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this element. Will be added to generated source files</xs:documentation>
                </xs:annotation>
            </xs:element>
        
            <xs:choice minOccurs="1" maxOccurs="1">                
                <xs:group ref="AllTypes" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SequenceType">
        <xs:annotation>
            <xs:documentation>Definition of an element in a structure</xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this element. Will be added to generated source files</xs:documentation>
                </xs:annotation>
            </xs:element>
        
            <xs:choice minOccurs="1" maxOccurs="1">               
                <xs:group ref="AllTypes" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayType">
        <xs:annotation>
            <xs:documentation>Definition of an element in a structure</xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this element. Will be added to generated source files</xs:documentation>
                </xs:annotation>
            </xs:element>
        
            <xs:choice minOccurs="1" maxOccurs="1">             
                <xs:group ref="AllTypes" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NamedPrimitive">
        <xs:annotation>
            <xs:documentation>Definition of an element in a structure</xs:documentation>
        </xs:annotation>
        
        <xs:all>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this element. Will be added to generated source files></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
            
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The name of this element</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        
        <xs:attribute name="type" type="PrimitiveType" use="required">
            <xs:annotation>
                <xs:documentation>The type of this element</xs:documentation>
            </xs:annotation>
        </xs:attribute>
            
        <xs:attribute name="optional" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>Is this an optional thing</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="Array">
        <xs:annotation>
            <xs:documentation>Definition of a structure and all its elements</xs:documentation>
        </xs:annotation>
        
        <xs:all>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this element. Will be added to generated source files</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="size" type="xs:unsignedLong" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Size of this array</xs:documentation>
                </xs:annotation>
            </xs:element>
        
            <xs:element name="type" type="ArrayType" minOccurs="1" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="NamedArray">
        <xs:complexContent>
            <xs:extension base="Array">
                <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>The name of this array</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            
                <xs:attribute name="optional" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Is this an optional thing</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Sequence">
        <xs:annotation>
            <xs:documentation>Definition of a structure and all its elements</xs:documentation>
        </xs:annotation>
        
        <xs:all>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this element. Will be added to generated source files</xs:documentation>
                </xs:annotation>
            </xs:element>
        
            <xs:element name="type" type="SequenceType" minOccurs="1" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="NamedSequence">
        <xs:complexContent>
            <xs:extension base="Sequence">
                <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>The name of this sequence</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            
                <xs:attribute name="optional" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Is this an optional thing</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="String">
        <xs:annotation>
            <xs:documentation>Definition of a structure and all its elements</xs:documentation>
        </xs:annotation>
        
        <xs:all>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this element. Will be added to generated source files</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
            
        <xs:attribute name="type" type="CharacterType" default="8" use="optional">
            <xs:annotation>
                <xs:documentation>Is this an optional thing</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="NamedString">
        <xs:complexContent>
            <xs:extension base="String">
                <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>The name of this sequence</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            
                <xs:attribute name="optional" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Is this an optional thing</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Map">
        <xs:annotation>
            <xs:documentation>Definition of a structure and all its elements</xs:documentation>
        </xs:annotation>
        
        <xs:all>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this element. Will be added to generated source files</xs:documentation>
                </xs:annotation>
            </xs:element>
        
            <xs:element name="keyType" type="MapKeyType" minOccurs="1" maxOccurs="1" />
        
            <xs:element name="valueType" type="MapValueType" minOccurs="1" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="NamedMap">
        <xs:complexContent>
            <xs:extension base="Map">
                <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>The name of this map</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            
                <xs:attribute name="optional" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Is this an optional thing</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Structure">
        <xs:annotation>
            <xs:documentation>Definition of a structure and all its elements</xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Documentation for this structure. Will be added to generated source files</xs:documentation>
                </xs:annotation>
            </xs:element>
                
            <xs:choice minOccurs="0" maxOccurs="unbounded">                
                <xs:element name="primitive" type="NamedPrimitive">
                    <xs:annotation>
                        <xs:documentation>Element which makes up part of this structure</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="enumeration" type="NamedEnumeration">
                    <xs:annotation>
                        <xs:documentation>Enumeration which makes up part of this structure</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="structure" type="NamedStructure">
                    <xs:annotation>
                        <xs:documentation>Structure which makes up part of this structure</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="string" type="NamedString">
                    <xs:annotation>
                        <xs:documentation>Structure which makes up part of this structure</xs:documentation>
                    </xs:annotation>
                </xs:element>
                    
                <xs:element name="array" type="NamedArray">
                    <xs:annotation>
                        <xs:documentation>Definition of an array</xs:documentation>
                    </xs:annotation>
                </xs:element>
                    
                <xs:element name="sequence" type="NamedSequence">
                    <xs:annotation>
                        <xs:documentation>Definition of a sequence</xs:documentation>
                    </xs:annotation>
                </xs:element>
                    
                <xs:element name="map" type="NamedMap">
                    <xs:annotation>
                        <xs:documentation>Definition of a sequence</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
            
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The name of this structure</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:element name="definitions">
        <xs:annotation>
            <xs:documentation>Definitions of structure, enumerations and unions</xs:documentation>
        </xs:annotation>
        
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="structure" type="Structure">
                        <xs:annotation>
                            <xs:documentation>Definition of a structure and all its elements</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    
                    <xs:element name="enumeration" type="Enumeration">
                        <xs:annotation>
                            <xs:documentation>Definition of an enumeration</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
            
            <xs:attribute name="namespace" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>The namespace for these definitions</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element> 
</xs:schema> 